/* geral */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body{
    background-image:  url("../assets/backiee-202851-landscape.jpg");
    background-size: cover;
}